.masonry-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -5px;
    width: auto;
    overflow: hidden;
}

.masonry-grid-col {
    padding-left: 10px;
    background-clip: padding-box;
}

.link {
    text-decoration: none;
    padding: 10px;
    color: black;
}

.link:hover {
    color: #007bff;
}

div {
    font-family: Arial, Helvetica, sans-serif;
}

.dots {
    width: 13.4px;
    height: 13.4px;
    position: relative;
}

.dots::before,
.dots::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: #007bff;
}

.dots::before {
    box-shadow: -26.9px 0 #007bff;
    animation: dots-dm1l1cmd 0.36s infinite linear;
}

.dots::after {
    transform: rotate(0deg) translateX(26.9px);
    animation: dots-dh1qq5md 0.36s infinite linear;
}

@keyframes dots-dm1l1cmd {
    100% {
        transform: translateX(26.9px);
    }
}

@keyframes dots-dh1qq5md {
    100% {
        transform: rotate(-180deg) translateX(26.9px);
    }
}

.fade-container {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 20px;
    transition: left 0.3s ease;
}

.fade-item {
    position: absolute;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.fade-item.visible {
    opacity: 1;
    transform: translateY(0);
}
